<h1 class="title">
  <span class="title__span">Hey!</span>Let's try to find a joke for you:
</h1>
<label><input name="radio" type="radio" class="random" />Random</label>
<div class="category__input">
  <label
    ><input
      name="radio"
      type="radio"
      class="category__input_categories categories"
    />From categories</label
  >
  <ul class="categories__list"></ul>
</div>

<label><input name="radio" type="radio" class="search" />Search</label>
<div class="searchInputWrap"></div>
<button class="button" type="submit">Get a joke</button>
</section>
<section>
<ul class="jokes__list"></ul>